<div class='foods-sell-contents'>
  <div class="foods-sell-main">
    <h1>レシピ一覧</h1>


    <% @recipes.order(created_at: :desc).each do |recipe| %>
      <div class="recipe">
        <h2><%= link_to truncate(recipe.content.split("\n").first, length: 50), recipe_path(recipe) %></h2>
        <p class="recipe-date">作成日: <%= recipe.created_at.strftime("%Y年%m月%d日") %></p>
        <p class="recipe-description"><%= truncate(recipe.content, length: 100) %></p>
      </div>
    <% end %>


    <div class="purchase-btn">
      <%= link_to '新しいレシピを作成する', new_recipe_path, class: "back-btn" %>
    </div>
  </div>
</div>