<div class='foods-sell-contents'>
  <div class="foods-sell-main">

    <h1>レシピを生成する</h1>

    <%= form_with url: recipes_path, method: :post do %>
      <div>
        <label for="ingredients">食材を入力してください (カンマ区切り):</label>
        <%= text_field_tag :ingredients, '', placeholder: '例: トマト, チーズ, バジル' %>
      </div>

      <div class="purchase-btn">
        <%= submit_tag 'レシピを生成する', class: "back-btn" %>
      </div>
      <div class="purchase-btn">
        <%= link_to 'もどる', recipes_path, class: "back-btn" %>
      </div>

    <% end %>
  </div>
</div>