/* マイページ */
.user_main{
  background-color: rgb(251, 242, 232);
  height: auto;
  padding-bottom: 50px;
}
.greeting{
  font-weight: bold;
  text-align: center;
  margin: 10px 0 ;

}
.main_index{
  text-align: center;
}
.mein-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.mein-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.item-name{
  font-size: 2.5vh;
  color: #112b9b;
  background-color: #ade7f9;
  text-align: center;
  width: 33vh;
}
.item-img {
  width: 33vh;
  height: 33vh;
  background-color: #ade7f9;
  position: relative;
}
.coming-soon {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 30%;
  text-align: center;
  background-color: crimson;
  color: #FFF;
  transform: skewY(-10deg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3vh;
  white-space: nowrap;
}